@font-face {
    font-family: 'PressStart2P';
    src: url('./assets/PressStart2P-Regular.ttf');
}

html, 
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.canvasContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}